/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  background-color: transparent;
  margin: 0;
  font-family: Raleway;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: firebrick;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: left;

}

.header h3 {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: right;
  
}

.header h3:hover {
  cursor: pointer;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column {
  vertical-align: middle;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background: rgba(109, 88, 88, 0.3);
  z-index: 100;
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-column {
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-h3:hover{
  cursor: pointer;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1{
  margin-top: -170px;
}

.location-info{
  position: absolute;
  top: 100px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;

}

.location-info li {
  padding: 5px 0;

}

/* .modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -101;
  background-color: rgba(0,0,0,0.3);
}

.modal-box {
  position: relative;
  color: #4e4e4e;
  font-size: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 70%;
  overflow: hidden;
  background-color: #f3efef;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: -100;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.modal-image {
  margin: 0px;
  position:relative;
  contain: content;
  max-width: 40%;
  height: 100%;
  overflow: hidden;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-content{
  text-align: left;
  padding: 10px;
  color: inherit;
  width: 100%;
}

.modal-content h1, h3{
  text-align: center;
}

.modal-content p{
  text-align: left;
  /* font-size: 15px;
  font-weight: 400; */
/* }

.modal-content h4{
  color: inherit;
  font-size: 17px;
  font-weight: 400;
}


.modal-content a{
  color: inherit;
} */

/* .modal-wrapper ul{
  list-style-type: "✅";
  padding: 0 0 0 30px;
}  */

/* .modal-wrapper ul li {
  font-size: 16px;
  font-weight: 450;
  padding: 0 0 0 5px;
} */


/* .divs-flexer {
  display: flex;
  flex-direction: row;  
} 

.divs-flexer ul{
  
  padding: 0 0 0 30px;
} 

.divs-flexer ul li {
  list-style-type:inherit;
  font-size: 18px;
  font-weight: 800;
  padding: 0 0 0 5px;
}

.div-flexer {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  border-color: rgba(109, 88, 88, 0.3);

}

.div-flexer h3 {
  padding: 0 0 0 10px;
}



.modal-border{
  border: firebrick;
  margin: 15px;
  border-style: solid;
  border-width: 5px;
}

.content-row{
  display: flex;
  flex-direction: row;
}

.modal-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:before, .modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.modal-close:before {
  transform: rotate(45deg);
}
.modal-close:after {
  transform: rotate(-45deg);
} */


