/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  background-color: transparent;
  margin: 0;
  font-family: Raleway;
  overflow: hidden;
}

.header {
  padding: .4vw;
  background-color: firebrick;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  text-align: center;

}

.header h3 {
  font-size: .5 rem;
  padding: 0;
  margin: 0;
  text-align: right;
  
}

.header .a:hover {
  cursor: pointer;
  text-decoration:underline;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.column {
  vertical-align: middle;
}

@media(max-width: 850px){
  .flex-container {
    flex-direction: column;
  }
  .column {
    align-items: center;
    padding: .2vh;
  }
  .header h1 {
    font-size: .9rem;
  }
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background: rgba(109, 88, 88, 0.3);
  z-index: 100;
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-column {
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-h3:hover{
  cursor: pointer;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}


.location-icon {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

@media (max-width: 850px){
  .location-icon{
    font-size: 2.3rem;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1{
  margin-top: -170px;
}

.location-info{
  position: absolute;
  top: 10vh;
  right: 10vh;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;

}

.location-info li {
  padding: 5px 0;

}

@media(max-width: 850px){
  .location-info{
    width: 200px;
    height: 100px;
    position: fixed;
    top: 20%;
    left: 30%;
    transform: (-50%, -50%);
    font-size: .9rem;
  }
}

/* modal styles */

.modal-container {

  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: black;

}

.modal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  width: 60vw;
  height: 50vh;
  max-width: 100%;
  text-align: center;
  padding: 30px 40px;
  border-radius: 5px;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  z-index: -100;
}

.modal-column  {

}

/* .backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  z-index: -100;
}

.modal-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  z-index: -100;
}

.modal-column{
    
}

 */
